# -----------------------------------------------------------------------------
# Physical Constraints File (.pcf) for pico2-ice
# Based on tinyVision.ai pinout
# All pins are FPGA pin numbers, not GPIO or RP2350
# -----------------------------------------------------------------------------

# SPI Interface (Tapped Bus)
set_io -nowarn spi_sck  26
set_io -nowarn spi_miso 27
set_io -nowarn spi_cs   19

# RGB LEDs (Active Low)
set_io -nowarn led_green_n 39
set_io -nowarn led_red_n   41
set_io -nowarn led_blue_n  40

# Output Headers for Data Tapping
set_io -nowarn miso_raw   25
set_io -nowarn data_out_logic 23

# For Testing Only
set_io -nowarn spi_mosi 14