# -----------------------------------------------------------------------------
# Physical Constraints File (.pcf) for pico2-ice
# Based on tinyVision.ai pinout
# All pins are FPGA pin numbers, not GPIO or RP2350
# -----------------------------------------------------------------------------

# SPI Interface (Tapped Bus)
set_io -nowarn rp2350_sck  26
set_io -nowarn rp2350_miso 27
set_io -nowarn rp2350_cs   19

# RGB LEDs (Active Low)
set_io -nowarn led_green_n 39
set_io -nowarn led_red_n   41
set_io -nowarn led_blue_n  40

# Output Headers for Data Tapping
set_io -nowarn rpi_miso   28
set_io -nowarn rpi_sck    31
set_io -nowarn rpi_cs     32

# For Testing Only
set_io -nowarn spi_mosi 14
set_io -nowarn test_sck 43

# For Parallel 8-bit Data Testing
set_io -nowarn a0 48
set_io -nowarn a1 47
set_io -nowarn a2 46
set_io -nowarn a3 45
set_io -nowarn a4 44
set_io -nowarn a5 2
set_io -nowarn a6 3
set_io -nowarn a7 4
