# -----------------------------------------------------------------------------
# Physical Constraints File (.pcf) for pico2-ice
# Based on tinyVision.ai pinout
# All pins are FPGA pin numbers, not GPIO or RP2350
# -----------------------------------------------------------------------------

# SPI Interface (Tapped Bus)
set_io -nowarn rp2350_sck  21
set_io -nowarn rp2350_miso 27
set_io -nowarn rp2350_cs   25

# RGB LEDs (Active Low)
set_io -nowarn led_green_n 39
set_io -nowarn led_red_n   41
set_io -nowarn led_blue_n  40

# Output Headers for Data Tapping
set_io -nowarn rpi_miso   28
set_io -nowarn rpi_sck    31
set_io -nowarn rpi_cs     32
